@import url('https://fonts.googleapis.com/css?family=Lora,Poppins:100,200,300,400,500,600,700,800,900');
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: linear-gradient(rgba(164, 242, 180, 0.36), rgba(135, 56, 231, 0.5)), url(../img/book-2596785_1920.jpg) no-repeat;
    color:#fff;
  background-size: cover;
  background-position: center;
}
.container{
  width: 39rem;
}
.img-1{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  display: block;
  }
  .img-1 img{
      width: 5rem;
  }

.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  margin: auto;
  margin-top: 2rem;
  width: 26rem;
  padding: 15px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  box-shadow: 0rem 1.75rem 3.125rem 1.25rem rgba(0,0,0,0.51);

}
.text h1{
  font-family: 'Lora', serif;
  font-weight: 700;
}
.text p{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 400;
  padding: 1.7rem 0.75rem;
}
.container{
  margin-top: 40px;
}

.btn-info{
  background: #723dbe;
  border-color:#723dbe;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-info:hover{
  background: #54229d;
  border-color: #54229d;
  color:#fff;
}
.social-link .fab{
  color: #ffffff;
  font-size: 25px;
}
@media only screen and (max-width: 550px){
  .login-form{
    width: 395px;
    padding: 34px 60px;
  }
}

@media only screen and (max-width: 480px){
  .login-form{
    width: 364px;
    padding: 16px 60px;
  }
  .text-1{
    font-size: 30px;

  }
  .text-2{
    font-size: 1em;
    padding-bottom: 0.5rem;
  }
}

